* {
    padding: auto;
    margin: 0;
}
header {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    color: white;
    background-color: rgb(47, 47, 128);
}
ul li {
    list-style: none;
    float: left;
}

nav ul li a { 
    text-decoration: none;
    color: white;
    padding: 14px 16px;
}

.list-item {
    max-width: 400px;
    margin: 0 auto;
}
.item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}